<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/dashboard/dashboard.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Danilla - Secret Management</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/secret">
                  <span data-feather="key"></span>
                  Secrets
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="log-in"></span>
                  IP Whitelist
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/setting">
                  <span data-feather="users"></span>
                  User Setting
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
      $(document).ready(function(){

        var path = document.location.pathname
        if (path == "/secret") {
          var script = document.createElement('script');
          script.src = "//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js";
          document.body.append(script)
          $('#datatable').DataTable();
        }

        $("a.nav-link").each(function(){
          if ( $(this).attr("href") == path ) {
            $(this).addClass("active")
          }
        })

        var get_map = {}

        var get = document.location.href.split("?")
        if ( get.length > 1 ) {
          var list = get[1].split("&")
          list.forEach(function(line){
            line = line.split("=")
            if (line.length > 1) {
              get_map[line[0]] = line[1]
            }
          })
        }

        switch (get_map["status"]) {
          case 'success':
            alert("Success !")
            break;
          case 'failed':
            alert("Failed !")
            break;
        }

        window.history.replaceState({}, document.title, document.location.pathname);
      })
    </script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>